.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 0 0 40px 40px;
  min-width: 320px;
  height: 250px;
}

.logo-club {
  width: 150px;
  height: 150px;
  flex-flow: 1;
  margin: 1.5rem 1rem;
}

.main-title {
  flex-flow: 2;
  margin: 1.5rem 1rem;
  font-size: 3rem;
  text-transform: uppercase;
}
